<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LSLEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LSLEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <LSLEditor.Properties.Settings>
      <setting name="AvatarName" serializeAs="String">
        <value>SecondLife Name</value>
      </setting>
      <setting name="BrowserInWindow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AvatarKey" serializeAs="String">
        <value/>
      </setting>
      <setting name="RegionName" serializeAs="String">
        <value>LSLEditor Island</value>
      </setting>
      <setting name="EmailServer" serializeAs="String">
        <value>smtp.emailserver.ext</value>
      </setting>
      <setting name="EmailAddress" serializeAs="String">
        <value>youraddress@yourdomain.ext</value>
      </setting>
      <setting name="ProxyServer" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyUserid" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="BrowserLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FindLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="BrowserSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Help" serializeAs="String">
        <value>http://www.lslwiki.net/lslwiki/wakka.php?wakka=</value>
      </setting>
      <setting name="LSLEditorLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="LSLEditorSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="RegionFPS" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SimulatorSize" serializeAs="String">
        <value>0, 175</value>
      </setting>
      <setting name="SimulatorLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="RegionCorner" serializeAs="String">
        <value>254464, 255232</value>
      </setting>
      <setting name="TabbedDocument" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SLColorScheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SL4SpacesIndent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoWordSelection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GotoLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WikiSeperateBrowser" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BracketHighlight" serializeAs="String">
        <value>224, 224, 224</value>
      </setting>
      <setting name="SolutionSize" serializeAs="String">
        <value>175, 0</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RecentFileMax" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckEveryDay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckEveryWeek" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckDate" serializeAs="String">
        <value>2010-01-01</value>
      </setting>
      <setting name="RecentProjectMax" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="IndentCursorPlacement" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IndentFullAuto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Indent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmtpUserid" serializeAs="String">
        <value/>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="SmtpAuth" serializeAs="String">
        <value>PLAIN</value>
      </setting>
      <setting name="HelpOnline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HelpOffline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CVSEXE" serializeAs="String">
        <value/>
      </setting>
      <setting name="CVSROOT" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProjectLocation" serializeAs="String">
        <value/>
      </setting>
      <setting name="DeleteOldFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeCompletionUserVar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeCompletion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CommentCStyle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkipWarnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SingleQuote" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QuotesListVerbose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeCompletionArguments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IndentWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IndentAutoCorrect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SvnExe" serializeAs="String">
        <value/>
      </setting>
      <setting name="SvnUserid" serializeAs="String">
        <value/>
      </setting>
      <setting name="SvnPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="ShowSolutionExplorer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WorkingDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="XSecondLifeShard" serializeAs="String">
        <value>Production</value>
      </setting>
      <setting name="AutoSaveOnDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ToolTip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HelpNewTab" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CodeCompletionAnimation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExampleNameNotecard" serializeAs="String">
        <value>NoteCard.txt</value>
      </setting>
      <setting name="llGetScriptName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StatesInGlobalFunctions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ParcelName" serializeAs="String">
        <value>LSLEditor parcel</value>
      </setting>
      <setting name="ParcelDescription" serializeAs="String">
        <value>Description of LSLEditor parcel</value>
      </setting>
      <setting name="ParcelOwner" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="ParcelGroup" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="ParcelArea" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="VersionControl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VersionControlSVN" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutputFormat" serializeAs="String">
        <value>UTF-8</value>
      </setting>
    </LSLEditor.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <LSLEditor.Properties.Settings>
      <setting name="ConfLSL" serializeAs="String">
        <value>Resource.ConfLSL.xml</value>
      </setting>
      <setting name="ExampleName" serializeAs="String">
        <value>new.lsl</value>
      </setting>
      <setting name="ReleaseNotes" serializeAs="String">
        <value>https://github.com/WhiteCoreSim/LSLEditor/releases</value>
      </setting>
      <setting name="About" serializeAs="String">
        <value>About.htm</value>
      </setting>
      <setting name="TabStops" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ToolTipDelay" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PathClipLength" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ExampleTemplate" serializeAs="String">
        <value>default.lsl</value>
      </setting>
      <setting name="HelpOfflineFile" serializeAs="String">
        <value>LSLEditorHelp.chm</value>
      </setting>
      <setting name="Example" serializeAs="String">
        <value>
          default
          {
          state_entry()
          {
          llSay(0, "Hello, Avatar!");
          }
          touch_start(integer total_number)
          {
          llSay(0, "Touched: "+(string)total_number);
          }
          }
        </value>
      </setting>
      <setting name="Examples" serializeAs="String">
        <value>http://www.lsleditor.org/examples/</value>
      </setting>
      <setting name="Upload" serializeAs="String">
        <value>http://www.lsleditor.org/uploadscript/</value>
      </setting>
      <setting name="ConfCSharp" serializeAs="String">
        <value>Resource.ConfCSharp.xml</value>
      </setting>
      <setting name="ToolsOptions" serializeAs="String">
        <value>Resource.ToolsOptions.xml</value>
      </setting>
      <setting name="ContactUrl" serializeAs="String">
        <value>https://github.com/WhiteCoreSim/LSLEditor/</value>
      </setting>
      <setting name="DonateUrl" serializeAs="String">
        <value>http://www.lsleditor.org/donate.htm</value>
      </setting>
      <setting name="Help2" serializeAs="String">
        <value>http://wiki.secondlife.com/wiki/Special:Search?go=Go&amp;search=</value>
      </setting>
      <setting name="Help1" serializeAs="String">
        <value>http://www.lslwiki.net/lslwiki/wakka.php?wakka=</value>
      </setting>
      <setting name="ForumLSLEditor" serializeAs="String">
        <value>https://sourceforge.net/projects/lsleditor/forums</value>
      </setting>
      <setting name="qasite" serializeAs="String">
        <value>https://github.com/WhiteCoreSim/LSLEditor/wiki/Questions</value>
      </setting>
      <setting name="svnloc" serializeAs="String">
        <value/>
      </setting>
    </LSLEditor.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
